.input-range > p {
	display: inline-block;
}

.input-range > input {
	display: inline-block;
	width: 300px;
}

.mock-box {
	padding: 30px;
	border-width: 10px;
	border-color: gray;
	display: inline-block;
}
